.wrapper {
  max-width: 700px;
  padding: 40px;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  width: 80%;
}

.button.spotify {
  color: #ffffff !important;
}

.button.appleMusic {
  color: #fa2d55 !important;
}